.btn {
  display: inline-block;
  background-color: #17A2B8;
  color: #FFFFFF;
  font-size: 1.7rem;
  padding: 5% 22%;
  border-radius: 15px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .btn {
    display: flex;
    justify-content: center;
  }
}
.btn:hover {
  background-color: #0c525d;
}
@keyframes rainbow {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5% auto;
  width: 80%;
}
@media (max-width: 500px) {
  .nav-section {
    flex-direction: column;
    justify-content: center;
  }
}
.nav-section .logo {
  width: 36%;
  display: flex;
  justify-content: space-around;
  margin: 2% 0 1% 20%;
}
@media (max-width: 500px) {
  .nav-section .logo {
    width: 50%;
    margin: 2% auto;
  }
}
.nav-section nav {
  justify-content: space-around;
  width: 40%;
}
@media (max-width: 500px) {
  .nav-section nav {
    justify-content: center;
    width: 100%;
  }
}
.nav-section nav a {
  padding: 0 2%;
  text-decoration: none;
  color: #212529;
  font-size: 1.3rem;
  margin: 1%;
}
@media (max-width: 500px) {
  .nav-section nav a {
    padding: 5%;
  }
}
.nav-section nav .links {
  display: flex;
  justify-content: space-evenly;
  width: 48%;
}
@media (max-width: 500px) {
  .nav-section nav .links {
    justify-content: space-around;
  }
}
/*closes Nav section*/
.nav-border {
  width: 100%;
  border-bottom: 2px dashed #C0C0C0;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .welcome-text {
  width: 48%;
}
header .welcome-text h2 {
  width: 40%;
  animation-name: rainbow;
  animation-duration: 10s;
  animation-iteration-count: 3;
}
@media (max-width: 500px) {
  header .welcome-text {
    width: 90%;
  }
}
header .main-image {
  margin: 0 1% 1% 1%;
  width: 48%;
}
@media (max-width: 500px) {
  header .main-image {
    width: 90%;
    margin: 0 auto;
  }
}
/*closes header section*/
.welcome-border {
  border-bottom: 2px dashed #C0C0C0;
  width: 48%;
  margin-left: 26%;
  padding-top: 0.5%;
}
@media (max-width: 500px) {
  .welcome-border {
    width: 90%;
    margin: 0 auto;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
    margin-left: 4%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 90%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
    align-items: center;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
}
.vacationForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.vacationForm form {
  border: 1px dashed #C0C0C0;
  border-radius: 15px;
  padding: 2% 2% 1% 2%;
}
.vacationForm input[type=text] {
  width: 100%;
  padding: 2%;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #FFEBCD;
}
.vacationForm input[type=submit] {
  margin: 0 30% 2%;
  padding: 2%;
  width: 110px;
  background-color: #17A2B8;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 1.6rem;
}
