// Navigation Styles here

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5% auto;
    width: 80%;
    
 

    .logo {
        width: 36%;
        display: flex;
        justify-content: space-around;
        margin: 2% 0 1% 20%;
    }

    nav {
        justify-content: space-around;
        width: 40%;
    
        a {
            padding: 0 2%;
            text-decoration: none;
            color: @font-color;
            font-size: 1.3rem;
            margin: 1%;
        }

        .links{
            display: flex;
            justify-content: space-evenly;
            width: 48%;
            
        }
    }
    
}/*closes Nav section*/

.nav-border {
    width: 100%;
    border-bottom: 2px dashed @navigation-border;
}
